<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="./../../../assets/images/one.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <p class="login-card-description">Register Here!</p>
                <form action="/action_page.php">     
                  <div class="container">
                    <div class="form-group" [class.has-error]="email.invalid && email.touched ">
                      <label for='name' class="control-lable">Email</label>
                      <input type="text" placeholder="Enter Email" required #email="ngModel" class="form-control" id="email" [(ngModel)]="model.email"
                        name="Email">
                        <span class="help-block"
                        *ngIf="email.invalid && email.touched">
                      Email is required
                      </span>
                    </div>				
                    <div class="form-group mb-4" [class.has-error]="fName.invalid && fName.touched ">
                      <label for='name' class="control-lable">First Name</label>
                      <input type="text" placeholder="Enter First Name" required #fName="ngModel" class="form-control" id="fName" [(ngModel)]="model.fName"
                        name="firstName">
                        <span class="help-block"
                        *ngIf="fName.invalid && fName.touched">
                      First Name is required
                      </span>
                    </div>
                    <div class="form-group mb-4" [class.has-error]="lName.invalid && lName.touched ">
                      <label for='name' class="control-lable">Last Name</label>
                      <input type="text" placeholder="Enter Last Name" required #lName="ngModel" class="form-control" id="lName" [(ngModel)]="model.lName"
                        name="lastName">
                        <span class="help-block"
                        *ngIf="lName.invalid && lName.touched">
                      Last Name is required
                      </span>
                    </div>
                    <div class="form-group mb-4" [class.has-error]="password.invalid && password.touched ">
                      <label for='password' class="control-lable">Password</label>
                      <input type="password" placeholder="Enter Password" required #password="ngModel" class="form-control" id="password" [(ngModel)]="model.password"
                        name="password">
                        <span class="help-block"
                        *ngIf="password.invalid && password.touched">
                      Password is required
                      </span>
                    </div>
                    <div class="form-group mb-4" [class.has-error]="username.invalid && username.touched ">
                      <label for='username' class="control-lable">Username</label>
                      <input type="username" placeholder="Enter username" required #username="ngModel" class="form-control" id="username" [(ngModel)]="model.username"
                        name="username">
                        <span class="help-block"
                        *ngIf="username.invalid && username.touched">
                      Username is required
                      </span>
                    </div>
            
                    <button name="register" id="register" class="btn btn-block login-btn mb-4" type="submit" (click)="method1()">Register</button>
                  </div>
                </form>
                <p class="login-card-footer-text">Already Registered? <a routerLink="/" class="text-reset">Login here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
