<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form">
                <input type="text" (keyup)="searchQueryModified($event)" (keydown.enter)="searchEnterPressed()"
                    class="form-control form-input" placeholder="Search anything...">
            </div>
        </div>
    </div>
</div>