body {
    font-family: "Karla", sans-serif;
    background-color: #d0d0ce;
    min-height: 100vh; 
}

.search{
    margin-top: 10px;
}

.logo{
    max-width:50%; 
    max-height:70%;
}

.icons{
    display: flex;
}
.voice{
    width: 70%;
    padding: 0px;
    background-color: brown;
}

.chat{
    width: 30%;
    padding: 0px;
    background-color: aqua;
}



  